In [2]:
# load important libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# load datset 
df = pd.read_csv('shopping_trends.csv')

In [5]:
# display first few rows of the dataset
print(df.head())

   Unnamed: 0  Customer ID  Age Gender Item Purchased  Category  \
0           0            1   55   Male         Blouse  Clothing
1           1            2   19   Male        Sweater  Clothing
2           2            3   50   Male          Jeans  Clothing
3           3            4   21   Male        Sandals  Footwear
4           4            5   45   Male         Blouse  Clothing

   Purchase Amount (USD)       Location      Color  Season  Review Rating  \
0                     53       Kentucky       Gray  Winter            3.1
1                     64          Maine     Maroon  Winter            3.1
2                     73  Massachusetts     Maroon  Spring            3.1
3                     90   Rhode Island     Maroon  Spring            3.5
4                     49         Oregon  Turquoise  Spring            2.7

  Subscription Status  Shipping Type Discount Applied Promo Code Used  \
0                 Yes        Express              Yes             Yes
1                 Yes        Express              Yes             Yes
2                 Yes  Free Shipping              Yes             Yes
3                 Yes   Next Day Air              Yes             Yes
4                 Yes  Free Shipping              Yes             Yes

   Previous Purchases Payment Method Frequency of Purchases
0                  14          Venmo            Fortnightly
1                   2           Cash            Fortnightly
2                  23    Credit Card                 Weekly
3                  49         PayPal                 Weekly
4                  31         PayPal               Annually

In [6]:
# Drop unnecessary columns 
df = df.drop(df.columns[0],axis=1)

In [7]:
# Check Data Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Color                   3900 non-null   object
 8   Season                  3900 non-null   object
 9   Review Rating           3900 non-null   float64
 10  Subscription Status     3900 non-null   object
 11  Shipping Type           3900 non-null   object
 12  Discount Applied        3900 non-null   object
 13  Promo Code Used         3900 non-null   object
 14  Previous Purchases      3900 non-null   int64
 15  Payment Method          3900 non-null   object
 16  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(12)
memory usage: 518.1+ KB

In [8]:
# Check statistical summary
print(df.describe(include='all'))

        Customer ID          Age Gender Item Purchased  Category  \
count   3900.000000  3900.000000   3900           3900      3900
unique          NaN          NaN      2             25         4
top             NaN          NaN   Male         Blouse  Clothing
freq            NaN          NaN   2652            171      1737
mean    1950.500000    44.068462    NaN            NaN       NaN
std     1125.977353    15.207589    NaN            NaN       NaN
min        1.000000    18.000000    NaN            NaN       NaN
25%      975.750000    31.000000    NaN            NaN       NaN
50%     1950.500000    44.000000    NaN            NaN       NaN
75%     2925.250000    57.000000    NaN            NaN       NaN
max     3900.000000    70.000000    NaN            NaN       NaN

        Purchase Amount (USD) Location  Color  Season  Review Rating  \
count             3900.000000     3900   3900    3900    3900.000000
unique                    NaN       50     25       4            NaN
top                       NaN  Montana  Olive  Spring            NaN
freq                      NaN       96    177     999            NaN
mean                59.764359      NaN    NaN     NaN       3.749949
std                 23.685392      NaN    NaN     NaN       0.716223
min                 20.000000      NaN    NaN     NaN       2.500000
25%                 39.000000      NaN    NaN     NaN       3.100000
50%                 60.000000      NaN    NaN     NaN       3.700000
75%                 81.000000      NaN    NaN     NaN       4.400000
max                100.000000      NaN    NaN     NaN       5.000000

       Subscription Status  Shipping Type Discount Applied Promo Code Used  \
count                 3900           3900             3900            3900
unique                   2              6                2               2
top                     No  Free Shipping               No              No
freq                  2847            675             2223            2223
mean                   NaN            NaN              NaN             NaN
std                    NaN            NaN              NaN             NaN
min                    NaN            NaN              NaN             NaN
25%                    NaN            NaN              NaN             NaN
50%                    NaN            NaN              NaN             NaN
75%                    NaN            NaN              NaN             NaN
max                    NaN            NaN              NaN             NaN

        Previous Purchases Payment Method Frequency of Purchases
count          3900.000000           3900                   3900
unique                 NaN              6                      7
top                    NaN         PayPal         Every 3 Months
freq                   NaN            677                    584
mean             25.351538            NaN                    NaN
std              14.447125            NaN                    NaN
min               1.000000            NaN                    NaN
25%              13.000000            NaN                    NaN
50%              25.000000            NaN                    NaN
75%              38.000000            NaN                    NaN
max              50.000000            NaN                    NaN

In [9]:
# check for missing values
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [32]:
# Convert columns into lower casing 
df.columns = df.columns.str.lower()
df.columns= df.columns.str.replace(' ','_')
df=df.rename(columns = {'purchase_amount_(usd)':'purchase_amount'})

In [33]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'color', 'season', 'review_rating',
       'subscription_status', 'shipping_type', 'discount_applied',
       'previous_purchases', 'payment_method', 'frequency_of_purchases',
       'age_group', 'purchase_frequency_days'],
      dtype='object')

In [34]:
# create a column age group 
labels = ['Young Adult', 'Adult', 'Middle Aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [35]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle Aged
1   19  Young Adult
2   50  Middle Aged
3   21  Young Adult
4   45  Middle Aged
5   46  Middle Aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle Aged

In [36]:
# create column purchase frequency days 
frequency_mapping = { 
    'Daily':1, 
    'Fortnightly':14,
    'Weekly':7, 
    'Monthly':30,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Every 3 Months':90,
    'Annually':365, 
    }
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [37]:
# Check new column now 
df[['frequency_of_purchases','purchase_frequency_days']].head(10)

  frequency_of_purchases  purchase_frequency_days
0            Fortnightly                       14
1            Fortnightly                       14
2                 Weekly                        7
3                 Weekly                        7
4               Annually                      365
5                 Weekly                        7
6              Quarterly                       90
7                 Weekly                        7
8               Annually                      365
9              Quarterly                       90

In [41]:
df.head(10)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle Aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle Aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle Aged,365
5,6,46,Male,Sneakers,Footwear,20,Wyoming,White,Summer,2.9,Yes,Standard,Yes,14,Venmo,Weekly,Middle Aged,7
6,7,63,Male,Shirt,Clothing,85,Montana,Gray,Fall,3.2,Yes,Free Shipping,Yes,49,Cash,Quarterly,Senior,90
7,8,27,Male,Shorts,Clothing,34,Louisiana,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,19,Credit Card,Weekly,Young Adult,7
8,9,26,Male,Coat,Outerwear,97,West Virginia,Silver,Summer,2.6,Yes,Express,Yes,8,Venmo,Annually,Young Adult,365
9,10,57,Male,Handbag,Accessories,31,Missouri,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,4,Cash,Quarterly,Middle Aged,90

In [ ]:
# Load data into PostgreSQL database
from sqlalchemy import create_engine
from urllib.parse import quote_plus

username = "postgres"
raw_password = "Haider@12345"          
password = quote_plus(raw_password)   

host = "localhost"
port = "5432"
database = "customer_behavior"

engine = create_engine(
    f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
)

table_name = "customer_behavior"
df.to_sql(table_name, engine, if_exists="replace", index=False)
print(f"DataFrame loaded into table '{table_name}' in database '{database}'.")

DataFrame loaded into table 'customer_behavior' in database 'customer_behavior'.